image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

stages:
  - test
  - build
  - deploy

test_template: &test_template
  stage: test
  image: golang:1.21
  before_script:
    - go version
  script:
    - go mod download
    - go vet ./...
    - go test -v ./...

unit_tests:
  <<: *test_template

build_docker:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - master

deploy_staging:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - echo "Deploying to staging..."
    - kubectl apply -f k8s/
  only:
    - master
  when: manual
